.overthrow-enabled .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
}
ul {
    list-style-type: none;
}
.overthrow-enabled ul{
    position:absolute;
    top: 0px;
    bottom: 50px;
    left:0px;
    right: 0px;
}
li {
    font-size:2.5em;
    height:50px;
    margin-right: 0.5em;
    margin-bottom:0.25em;
}

.bordered li {
    border-style:solid;
}

.shadowed li {
    -webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px rgba(50, 50, 50, 0.75);
}

.rounded li {
    border:2px solid;
    border-radius:25px;
}

.gradient li {
    background-image: linear-gradient(bottom, rgb(192,126,75) 47%, rgb(231,164,105) 74%);
    background-image: -o-linear-gradient(bottom, rgb(192,126,75) 47%, rgb(231,164,105) 74%);
    background-image: -moz-linear-gradient(bottom, rgb(192,126,75) 47%, rgb(231,164,105) 74%);
    background-image: -webkit-linear-gradient(bottom, rgb(192,126,75) 47%, rgb(231,164,105) 74%);
    background-image: -ms-linear-gradient(bottom, rgb(192,126,75) 47%, rgb(231,164,105) 74%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.47, rgb(192,126,75)),
        color-stop(0.74, rgb(231,164,105))
        );
}

ul.backgrounded {
    background-image:url(http://placekitten.com/30/30);
    }

@keyframes animate
{
from {color: black;}
to {color: red;}
}

@-webkit-keyframes animate /* Safari and Chrome */
{
    from {
        color: black;
    }
    to {
        color: red;
    }
}

.animated li {
    animation: animate 5s infinite;
    -webkit-animation: animate 5s infinite;
}

.transitioned li {
    -webkit-transform: rotateY(360deg);
    -webkit-transition-duration: 15s;
    transform: rotateY(360deg);
    transition-duration: 15s;
}

