/* ----[ Custom Definitions ]---------------------------------------------- */

/* standard SilverCity style definitions */
@import url(silvercity.css);

div.code-block {
  font-size: 70%;
  margin-bottom: 0.5em;
}

/* ----[ Default Definitions ]---------------------------------------------- */

/* used to remove borders from tables and images */
.borderless, table.borderless td, table.borderless th {
 border: 0;
}

table.borderless td, table.borderless th {
  /* Override padding for "table.docutils td" with "! important".
     The right padding separates the table cells. */
  padding: 0 0.5em 0 0 ! important }

.first {
  /* Override more specific margin styles with "! important". */
  margin-top: 0 ! important }

.last, .with-subtitle {
  margin-bottom: 0 ! important }

.hidden {
  display: none }

a.toc-backref {
  text-decoration: none ;
  color: black }

blockquote.epigraph {
  margin: 2em 5em ; }

dl.docutils dd {
  margin-bottom: 0.5em }

dl.docutils dt {
  font-weight: bold }

div.abstract {
  margin: 2em 5em }

div.abstract p.topic-title {
  font-weight: bold ;
  text-align: center }

div.admonition, div.attention, div.caution, div.danger, div.error,
div.hint, div.important, div.note, div.tip, div.warning {
  margin: 2em ;
  border: medium outset ;
  padding: 1em }

div.admonition p.admonition-title, div.hint p.admonition-title,
div.important p.admonition-title, div.note p.admonition-title,
div.tip p.admonition-title {
  font-weight: bold ;
  font-family: sans-serif }

div.attention p.admonition-title, div.caution p.admonition-title,
div.danger p.admonition-title, div.error p.admonition-title,
div.warning p.admonition-title {
  color: red ;
  font-weight: bold ;
  font-family: sans-serif }

/* Uncomment (and remove this text!) to get reduced vertical space in
   compound paragraphs.
div.compound .compound-first, div.compound .compound-middle {
  margin-bottom: 0.5em }

div.compound .compound-last, div.compound .compound-middle {
  margin-top: 0.5em }
*/

div.dedication {
  margin: 2em 5em ;
  text-align: center ;
  font-style: italic }

div.dedication p.topic-title {
  font-weight: bold ;
  font-style: normal }

div.figure {
  margin-left: 2em ;
  margin-right: 2em }

div.footer, div.header {
  clear: both;
  font-size: smaller }

div.line-block {
  display: block ;
  margin-top: 1em ;
  margin-bottom: 1em }

div.line-block div.line-block {
  margin-top: 0 ;
  margin-bottom: 0 ;
  margin-left: 1.5em }

div.sidebar {
  margin-left: 1em ;
  border: medium outset ;
  padding: 1em ;
  background-color: #ffffee ;
  width: 40% ;
  float: right ;
  clear: right }

div.sidebar p.rubric {
  font-family: sans-serif ;
  font-size: medium }

div.system-messages {
  margin: 5em }

div.system-messages h1 {
  color: red }

div.system-message {
  border: medium outset ;
  padding: 1em }

div.system-message p.system-message-title {
  color: red ;
  font-weight: bold }

div.topic {
  margin: 2em }

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

h1 {
  margin-top: 1.5em;
  margin-bottom: 0;
  font-size: 130%;
}

h1.section-subtitle, h2.section-subtitle, h3.section-subtitle,
h4.section-subtitle, h5.section-subtitle, h6.section-subtitle {
  margin-top: 0.4em
}

h1.title {
  font-size: 160%;
  text-align: center;
}

h2.subtitle {
  text-align: center;
}

hr.docutils {
  width: 75% }

img.align-left {
  clear: left }

img.align-right {
  clear: right }

ol.simple, ul.simple {
  margin-bottom: 1em;
}

ol.arabic {
  list-style: decimal }

ol.loweralpha {
  list-style: lower-alpha }

ol.upperalpha {
  list-style: upper-alpha }

ol.lowerroman {
  list-style: lower-roman }

ol.upperroman {
  list-style: upper-roman }

p {
  margin-top: 0 ! important;
  margin-bottom: 0 ! important;
  padding-top: 0 ! important;
  padding-bottom: 0 ! important;
}

p.attribution {
  text-align: right ;
  margin-left: 50%;
}

p.caption {
  font-style: italic;
}

p.credits {
  font-style: italic;
  font-size: smaller;
}

p.first {
  display: inline;
}

p.label {
  white-space: nowrap }

p.rubric {
  font-weight: bold;
  font-size: larger;
  color: maroon;
  text-align: center;
}

p.sidebar-title {
  font-family: sans-serif;
  font-weight: bold;
  font-size: larger;
}

p.sidebar-subtitle {
  font-family: sans-serif ;
  font-weight: bold }

p.topic-title {
  font-weight: bold;
}

pre.address {
  margin-bottom: 0;
  margin-top: 0;
  font-family: serif;
  font-size: 100%;
}

pre.literal-block, pre.doctest-block {
  background: #EEEEEE;
  border: 1px solid #999999;
  padding: 3px;
  width: 80%;
  margin-left: 5px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: courier;
  font-weight: bold;
  font-size: 75%;
}

span.classifier {
  font-family: sans-serif ;
  font-style: oblique }

span.classifier-delimiter {
  font-family: sans-serif ;
  font-weight: bold }

span.interpreted {
  font-family: sans-serif }

span.option {
  white-space: nowrap }

span.pre {
  white-space: pre;
}

span.problematic {
  color: red }

span.section-subtitle {
  /* font-size relative to parent (h1..h6 element) */
  font-size: 80% }

table.citation {
  border-left: solid 1px gray;
  margin-left: 1px }

table.docinfo {
  margin: 2em 4em }

table.docutils {
  margin-top: 0.5em ;
  margin-bottom: 0.5em }

table.footnote {
  border-left: solid 1px black;
  margin-left: 1px }

table.docutils td, table.docutils th,
table.docinfo td, table.docinfo th {
  padding-left: 0.5em ;
  padding-right: 0.5em ;
  vertical-align: top }

table.docutils th.field-name, table.docinfo th.docinfo-name {
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
  padding-left: 0;
}

h1 tt.docutils, h2 tt.docutils, h3 tt.docutils,
h4 tt.docutils, h5 tt.docutils, h6 tt.docutils {
  font-size: 100%
}

tt.docutils {
  font-size: 120%;
  font-weight: bold;
  /* background-color: #eeeeee; */
}

ul.auto-toc {
  list-style-type: none;
}

ul {
  padding-left: 0.5em;
}

ol {
  padding-left: 1.5em;
}

ul ul {
  padding-left: 1em;
}

ul li {
  list-style: none;
}

ul li:before {
  margin-left: -0.58em;
  vertical-align: 5%;
  content: "\2022 \0020 \0020"
}

ul ul li:before {
  vertical-align: 10%;
  text-indent: -0.43em;
  content: "\00BB \0020 \0020"
}

.huge {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 120%;
}
.big {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 105%;
}
.small {
  font-size: 90%;
}
.tiny {
  font-size: 60%;
}
.huge tt, .big tt, .small tt, .tiny tt {
  font-size: 115%;
}
.huge pre, .big pre, .small pre, .tiny pre {
  font-size: 115%;
}

div.handout p {
  margin-bottom: 0.7em ! important;
}

p.handout {
  margin-bottom: 0.7em ! important;
}
