/* This file has been placed in the public domain. */
/* Following are the presentation styles -- edit away! */

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  color: black;
}

/* Replace the background style above with the style below (and again for
   div#header) for a graphic: */
/* background: white url(bodybg.gif) -16px 0 no-repeat; */
:link, :visited {
  text-decoration: none;
  color: #00C;
}

#controls :active {
  color: #88A !important;
}

#controls :focus {
  outline: 1px dotted #227;
}

h1, h2, h3, h4 {
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-weight: inherit;
}

blockquote {
  padding: 0 2em 0.5em;
  margin: 0 1.5em 0.5em;
}

blockquote p {
  margin: 0;
}

kbd {
  font-weight: bold;
  font-size: 1em;
}
sup {
  font-size: smaller;
  line-height: 1px;
}

ul li {
  margin-bottom: 0.5em;
}

dt {
  font-weight: bold;
}


.first {
  margin-bottom: -0.1em;
}

p.first {
  display: inline;
}

.slide pre {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  font-size: 90%;
}

.slide ul, .slide ol {
  margin-top: 0;
  padding-top: 0;
}

.slide ol.arabic {
  list-style: arabic;
}

.slide ul li {
  list-style: none;
}

.slide ul li:before {
  margin-left: -0.58em;
  font-size: 80%;
  vertical-align: 10%;
  content: "\2022 \0020 \0020"
}

.slide ul ul li {
  list-style: none;
  text-indent: -0.43em;
}

.slide ul ul li:before {
  list-style: none;
  font-size: 80%;
  vertical-align: 15%;
  content: "\00BB \0020 \0020"
}

.slide ol ol, .slide ol ul, .slide ul ol, .slide ul ul {
  margin-top: 0.4em;
  font-size: 70%;
}

.slide img.leader {
  display: block;
  margin: 0 auto;
}

.slide tt {
  font-size: 90%;
}

div#header, div#footer, #currentSlide {
  background: transparent;
  color: #3367CD;
  font-family: sans-serif;
}

div#header {
  background: #3367CD;
  border-bottom: 3px solid #DDD;
  height: 2.5em;
}

div#footer, #currentSlide {
  font-size: 0.5em;
  font-weight: bold;
}

div#footer {
  padding: 90px 0 0 0;
  background: url(zope_corner.png) no-repeat right bottom;
  z-index: 1;
  height: 90px;
}

#footer h1, #currentSlide {
  display: block;
  padding: 0 1em;
  font-variant: small-caps;
  position: absolute;
  bottom: 1.5em;
}

#footer h2 {
  display: block;
  padding: 0.8em 1em 0;
  font-variant: small-caps;
  position: absolute;
  bottom: 0;
}

.slide {
  font-size: 1.2em;
}
.slide h1 {
  position: absolute;
  top: 0.20em;
  z-index: 1;
  margin: 0;
  padding-left: 0.7em;
  white-space: nowrap;
  font: bold 150% sans-serif;
  /* font-variant: small-caps; */
  color: white;
}
.slide h2 {
  font: bold 120%/1em sans-serif;
  padding-top: 0.5em;
}
.slide h3 {
  font: bold 100% sans-serif;
  padding-top: 0.5em;
}
h1 abbr {
  font-variant: small-caps;
}

.sidebar {
  font-size: 60%;
}

div#controls {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 50%;
  text-align: right;
  font: bold 0.9em sans-serif;
}

html>body div#controls {
  position: fixed;
  padding: 0 0 1em 0;
  top: auto;
}

div#controls form {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

#controls #navLinks a {
  padding: 0;
  margin: 0 0.5em;
  background: transparent;
  border: none;
  color: black;
  cursor: pointer;
}

#controls #navList {
  height: 1em;
}

#controls #navList #jumplist {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #DDD;
  color: #227;
}

currentSlide {
  text-align: center;
  font-size: 0.5em;
  color: #449;
  font-family: sans-serif;
  font-weight: bold;
}

#slide0 {
  padding-top: 0em
}

#slide0 h1 {
  position: static;
  margin: 1.3em 0 0;
  padding: 0;
  color: #3367CD;
  font: bold 2em sans-serif;
  font-variant: small-caps;
  white-space: normal;
  background: transparent;
}

#slide0 h2 {
  font: bold italic 1em sans-serif;
  margin: 0.25em;
}

#slide0 h3 {
  margin-top: 1.5em;
  font-size: 1.5em;
}

#slide0 h4 {
  margin-top: 0;
  font-size: 1em;
}

ul.urls {
  list-style: none;
  display: inline;
  margin: 0;
}

.urls li {
  display: inline;
  margin: 0;
}

.external {
  border-bottom: 1px dotted gray;
}

html>body .external {
  border-bottom: none;
}

.external:after {
  content: " \274F";
  font-size: smaller;
  color: #77B;
}

.incremental, .incremental *, .incremental *:after {
  visibility: visible;
  color: white;
  border: 0;
}

img.incremental {
  visibility: hidden;
}

.slide .current {
  color: #3367CD;
}

.slide-display {display: inline ! important;}

.huge {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 150%;
}
.big {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 120%;
}
.small {
  font-size: 75%;
}
.tiny {
  font-size: 40%;
}
.huge tt, .big tt, .small tt, .tiny tt {
  font-size: 115%;
}
.huge pre, .big pre, .small pre, .tiny pre {
  font-size: 115%;
}

pre.literal-block, pre.doctest-block {
  background: #EEEEEE;
  border: 1px solid #999999;
  padding: 3px;
  width: 80%;
  margin-left: 5px;
  font-size: 50%;
  font-weight: bold;
}

.maroon {color: maroon;}
.red {color: red;}
.magenta {color: magenta;}
.fuchsia {color: fuchsia;}
.pink {color: #FAA;}
.orange {color: orange;}
.yellow {color: yellow;}
.lime {color: lime;}
.green {color: green;}
.olive {color: olive;}
.teal {color: teal;}
.cyan {color: cyan;}
.aqua {color: aqua;}
.blue {color: blue;}
.navy {color: navy;}
.purple {color: purple;}
.black {color: black;}
.gray {color: gray;}
.silver {color: silver;}
.white {color: white;}

.left {text-align: left ! important;}
.center {text-align: center ! important;}
.right {text-align: right ! important;}

.animation {position: relative; margin: 1em 0; padding: 0;}
.animation img {position: absolute;}

/* Docutils-specific overrides */

.slide table.docinfo {
  margin: 1em 0 0.5em 2em;
}

span.pre {
  font-size: 90%;
  background: transparent;
}

tt.docutils {
  background: transparent ! important;
}

tt.docutils {background-color: white;}

/* diagnostics */
/*
li:after {content: " [" attr(class) "]"; color: #F88;}
div:before {content: "[" attr(class) "]"; color: #F88;}
*/
